/* Gelb2 Bookmarks - for easy editing colors were separated - Jean */
/* background */
body {background-color: #FFECCE;}

/* column */
.table-main {background-color: #FFAB2D;}

/* header */
.table-folder th {background-color: #993300;}

/* inside */
 .table-folder, input, select, option{background-color: #FFF3E1;}

/* header link*/
th > a {color: #FFE4C4;}

/* link */
td > a:link, td > a:visited, td > a:active{color: #802800;}
td > a:hover {color: #B97D00;}

/* border */
.table-folder, input, select {border: 1px solid #802800;}

/* submit */
input[type="submit"] {background-color: #FFAB2D; color: #802800;}
input:focus {background-color: #FFDCA6;}

/* static stuff */
body {font-family: 'trebuchet ms', arial, helvetica, sans-serif;}
.table-folder {border-spacing: 0px;}
th {line-height: .9em;}
a{font-size: .8em; text-decoration: none; white-space: nowrap;
padding: 0px 0px 0px 2px;}
.table-folder th {text-align: left; padding: 0px 0px 5px 5px;}