/* Blau1 Bookmarks - for easy editing colors were separated - Jean */
/* background */
body {background-color: #D8DAE9;}

/* column */
.table-main {background-color: #BFC1CE;}

/* header */
.table-folder th {background-color: #565775;}

/* inside */
 .table-folder, input, select, option{background-color: #E8E8F4;}

/* header link*/
th > a {color: #E8E8F4;}

/* link */
td > a:link, td > a:visited, td > a:active{color: Black;}
td > a:hover {color: #A52A2A;}

/* border */
.table-folder, input, select {border: 1px solid #565775;}

/* submit */
input[type="submit"] {background-color: #E8E8F4; color: #565775;}
input:focus {background-color: #FCFCFE;}

/* static stuff */
body {font-family: 'trebuchet ms', arial, helvetica, sans-serif;}
.table-folder {border-spacing: 0px;}
th {line-height: .9em;}
a{font-size: .8em; text-decoration: none; white-space: nowrap;
padding: 0px 0px 0px 2px;}
.table-folder th {text-align: left; padding: 0px 0px 5px 5px;}
